
@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to Longhorn Bank!</h1>

<br />
<div style="text-align: left;"><img src="~/images/longhorn.png" width="250" alt="Longhorn Logo Image" /></div>
<br />

<h3>Invest, save, and manage with Longhorn Bank, create your account now!</h3>

<a asp-action="Create" asp-controller="BankAccounts" class="btn btn-success">Register for an Account</a>

@if (User.Identity.IsAuthenticated)
{
    <a asp-action="Index" asp-controller="BankAccounts" class="btn btn-info">Accounts Summary</a>


    if (User.IsInRole("Admin"))
    {
        <a asp-action="Index" asp-controller="Departments" class="btn btn-danger">View Departments</a>
        <a asp-action="Index" asp-controller="RoleAdmin" class="btn btn-warning">Manage Users</a>
    }

}
