
@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to Longhorn Bank!</h1>


<a asp-action="Login" asp-controller="Account" class="btn btn-success">Login</a>

<a asp-action="Register" asp-controller="Account" class="btn btn-success">Register</a>

@if (User.Identity.IsAuthenticated)
{
    <a asp-action="Index" asp-controller="Accounts" class="btn btn-info">Accounts SUmmary</a>

    if (User.IsInRole("Admin"))
    {
        <a asp-action="Index" asp-controller="Departments" class="btn btn-danger">View Departments</a>
        <a asp-action="Index" asp-controller="RoleAdmin" class="btn btn-warning">Manage Users</a>
    }

}
